
@media screen and (max-width: 320px) {
    .container {
        max-width: 300px;
        padding-right: 10px;
        padding-left: 10px;

    }
    
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 920px;
        padding-right: 10px;
        padding-left: 10px;

    }

    .section-tools_block {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-tools_block__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-tools_text__lite {
        text-align: center;
    }
    
    .footer_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_block_photo {
        display: none;
    }

}


@media screen and (max-width: 850px) {

    nav.header-nav {
        display: none;
    }

    .header-nav_li, .header-nav_li__mr_0 {
        display: none;
    }

     .header-btn.white, .header-btn.orange, .header-buttons_block {
        display: none;
    }

}

@media screen and (max-width: 850px) {
    .section-superpowers, .benefits-block  {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section-superpowers__button {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .benefits-block__img {
        padding-top: 50px;
    }
}




