@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: 700;
    font-style: Bold;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

    .container {
        max-width: 1220px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

body {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4 {
    font-weight: 700;
    color: #2F281E;
}

a {
    text-decoration: none;
    color: #2F281E;
}

img {
    width: 100%;
}

@media screen and (max-width: 850px) {
    .logo{
        width: 150px;
        height: 30px;
    }    
    
}

.main-title {
    font-size: 44px;
    line-height: 54px;
    max-width: 500px;
    margin-bottom: 33px;
    letter-spacing: -0.4px;

}

.title {
    font-size: 36px;
    line-height: 43.88px;
    letter-spacing: -0.4px;
}

.text { 
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.mb_23 {
    margin-bottom: 23px;
}

.subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    letter-spacing: -0.2px;
}

.pt_45 {
    padding-top: 45px; 
}

.mb_32 {
    margin-bottom: 32px;
}

.mb_42 {
    margin-bottom: 42px;
}

.mb_13 {
    margin-bottom: 13px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_25{
    margin-bottom: 25px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mr_147{
    margin-right: 147px;
}

.mr_154{
    margin-right: 154px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_40 {
    margin-bottom: 40px;
}

.pt_50 {
    padding-top: 50px;
}

.pb_50 {
    padding-bottom: 50px;
}

.mb_15 {
    margin-bottom: 15px;
}

.pt_104 {
    padding-top: 104px;
}

.pb_100 {
    padding-bottom: 100px;
}

.pt_100 {
    padding-top: 100px;
}

.pt_96 {
    padding-top: 96px;
}
/* <====HEADER====> */

.header {
    padding-bottom: 17px;
    padding-top: 17px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px lightgray;
    z-index: 100;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .header-block{
        display: block;
    }
    
}

.header-nav_li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;

}


@media screen and (max-width: 850px) {
    .header-nav_li {
        font-size: 30px;
    }
    
}

.header-buttons_block {
    display: flex;
    gap: 32px;

}

.header-nav_li:hover, .header-nav_li__mr_0:hover {
    color: #FF9900;
}


.header-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-btn {
    font-family: 'Montserrat', sans-serif;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 600;
    line-height: 19.5px;
    font-size: 16px;
    border-radius: 4px;
    width: 110px;
    height: 46px;
    text-align: center;
    border: 1px solid #BCD0E5;

}

.white {
    border: 1px solid #BCD0E5;
    transition: all 0.2s;
}

.white:hover {
    background: #FF9900;
    color: #fff;
    border: 1px solid #BCD0E5;

}

.white:active, .orange:hover {
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;

}

.orange {
    background: #FF9900;
    color: #fff;
    transition: all 0.2s;
    display: inline-block;
    white-space: nowrap;
}

.orange:active {
    background: #FF9900;
    color: #fff;
    border: 1px solid #BCD0E5;

}


/* <====#HEADER====> */


/* <====#section SUPERPOWERS=> */

.section-superpowers_text {
    font-weight: 400;
    font-size: 18px;
    color: #544837;
    max-width: 500px;
    line-height: 28px;
    margin-bottom: 26px;
}

.button {
    display: inline-flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 180px;
    background: #FF9900;
    border-radius: 4px;
    line-height: 50px;
    width: 180px;
    transition: all 0.3s;    
    border: 1px solid #BCD0E5;

}

.section-superpowers {
    display: flex;
    justify-content: space-between;

}

.section-superpowers_photo {
    width: 100%;
    height: 100%;
}

.section-superpowers_item {
    padding-top: 97px;

}

.button:hover {
    color: #2F281E;
    background: #fff;
    border: 1px solid #BCD0E5;
}


/* <====#section#SUPERPOWERS=> */



/* <====#section TOOLS=> */

.section-tools {
    padding-top: 96px;
    padding-bottom: 74px;
    font-size: 0px;
    background-image: url(../img/bg.png);
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-tools_block:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}


.section-tools_block:hover {
    background-color: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);;
    color: #000;
}
    
.section-tools_block__cards {
    display: flex;
    gap: 40px;
}

.section-tools_block {
    max-width: 270px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 8px;
    max-height: 175px;
    padding: 4.5px;
}

.icon_img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.section-tools_text__bold {
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    margin-bottom: 16px;
    color: #2F281E;
}

.section-tools_text__lite {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 270px;
    color: #544837;

}

.section-title_tools {
    text-align: center;
    max-width: 539px;
    margin: auto;
    margin-bottom: 48px;
    letter-spacing: -0.4px;

}


.mr_0 {
    margin: 0;
}

.mb_70 {
    margin-bottom: 70px;
}

.button-tools {
    display: flex;
    justify-content: center;
    margin-left: 11px;

}

/* <====#section#TOOLS=> */

/* <<<SECTION BENEFITS>>> */

.benefits-block {
    display: flex;
    justify-content: space-between;
}

.benefits-block_text {
    max-width: 525px;
    padding-top: 21px;
}

.text-orange {
    display: inline-flex;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    max-width: 440px;
}

.text-orange::before {
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background: #FF9900 url(../img/Path.svg) no-repeat center;
    border-radius: 10px;
    position: absolute;
    left: -65px;
    top: 8px;
}

.benefits-block_text--orange {
    display: flex;
    flex-direction: column;
    max-width: 505px;
    padding-top: 48px;

}

.block_text_orange {
    margin-left: 65px;
}

.benefits_text_marketers {
    max-width: 486px;
}

.benefits-block_text__marketers{
    padding-top: 40px;
}
/* <<<SECTION#BENEFITS>>> */

/* <<<FOOTER>>> */

.footer {
    padding-bottom: 70px;
}

.footer_block {
    display: flex;
    padding-top: 66px;

}

.footer_block_list {
    display: flex;
    flex-direction: column;
}

.footer_block_list__title {
    font-family: 'Gotham';
    color: #2F281E;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    max-width: 280px;
}

@media screen and (max-width: 850px){
    .footer_block_list__title {
        margin-right: 0px;
        
    }
    
}

.line::before{
    display: block;
    content: "";
    border: 1px solid rgba(188, 208, 229, 0.496913);
    position: relative;
    top: -3px;
    left: 0%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_block_photo {
    margin-right: 130px;
}

@media screen and (max-width: 850px){
    .footer_block_photo {
        margin-right: 0px;
        
    }
    
}

#telephone {
    width: 340px;
    height: 50px;
    outline: none;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Montserrat';
    line-height: 19.5px;
    color: #2F281E;
    transition: all 0.3s;
}

@media screen and (max-width: 850px){
    #telephone {
        display: flex;
        max-width: 250px;
        margin: 0 auto;
    }
    
}

#telephone:hover {
    border: 1px solid #FF9900;
}

#telephone:focus {
    box-shadow: 4px 4px 4px #FF9900;
}

input::placeholder {
    color: #BCD0E5;
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 19.5px;
    padding-left: 10px;
  }

.footer_text_hover {
    transition: all 0.3s;
}

.footer_text_hover:hover {
    color:#FF9900;
    
}

.footer_label {
    display: block;
}

@media  screen and (max-width: 850px){

    .footer_label {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
    }

}

/* <<<!!!FOOTER!!! */

